<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
  
  <settings>
  
  
  <setting name="VehicleDetailsCacheDuration" value="0"/>
  <setting name="PaymentCalculatorContent" value="AAFE1CA5-E34A-44C4-8AEA-C025960A236A"/>
  <setting name="DSFServiceAuthenticationUrl" value="http://aninventoryservicedit2.s6ditase01.p.azurewebsites.net/oauth/token"/>
  <setting name="DSFServiceAuthenticationPostValue" value="grant_type=client_credentials&amp;client_id=an-site&amp;client_secret=70068FC5-2CF5-4C13-A3DA-A672EDBAC36A"/>
  
  </settings>
  </sitecore>
</configuration>
